{include file='common/header'}
<div id="main" class="main-container container">
<div class="panel panel-default">

    <div class="panel-heading">
      我的积分
    </div>
    <div class="panel-body">
      <div class="media">
      <div class="media-heading">
        当前余额:
       <span class="coin_list" data-toggle="tooltip", data-placement="bottom" title="15">
        <img src="images/bronze.png"> 15
        </span>
        </div>
      </div>
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <th>#</th>
            <th>日期</th>
            <th>类型</th>
            <th>数额</th>
            <th>余额</th>
          </tr>
                    <tr>
            <td>2201</td>
            <td class="timeago">2017-02-12 23:48:45</td>
             <td>用户登录</td>
            <td><strong class="text-success">+5.0</strong></td>
            <td>15</td>
          </tr>
                    <tr>
            <td>2200</td>
            <td class="timeago">2017-02-12 23:48:44</td>
             <td>用户注册</td>
            <td><strong class="text-success">+10.0</strong></td>
            <td>10</td>
          </tr>
                  </tbody>
      </table>
    </div>
</div>

                		</div>

        {include file='common/footer'}